body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9ae0c6de-9d36-47a5-baef-e342e725f2cd/deey2ux-2838e3f3-7c56-4354-89b8-fdccb8b84d80.jpg/v1/fill/w_1065,h_750,q_70,strp/kengan_ashura_by_donarxniite_deey2ux-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzlhZTBjNmRlLTlkMzYtNDdhNS1iYWVmLWUzNDJlNzI1ZjJjZFwvZGVleTJ1eC0yODM4ZTNmMy03YzU2LTQzNTQtODliOC1mZGNjYjhiODRkODAuanBnIiwiaGVpZ2h0IjoiPD05MDIiLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwid21rIjp7InBhdGgiOiJcL3dtXC85YWUwYzZkZS05ZDM2LTQ3YTUtYmFlZi1lMzQyZTcyNWYyY2RcL2RvbmFyeG5paXRlLTQucG5nIiwib3BhY2l0eSI6OTUsInByb3BvcnRpb25zIjowLjQ1LCJncmF2aXR5IjoiY2VudGVyIn19.c9cr9kExhGbw8gXhVUDGH8WYLs37F-vasyehAhTjFkk");
    background-size: cover;
}

#grid {
    position: relative;
    
}

#grid-container {
    position: relative;

}

.btn-danger {
    position: absolute;
    top: 0;
    left: 0;
}

table {
    margin-top: 130px;
    border-collapse: collapse;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}


td {
    width: 70px;
    height: 70px;
    overflow-y: hidden;
    border: 5px solid rgb(84, 1, 1);
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 20px;

}



button {
    position: absolute;
    top: 50px;
    margin: 20px;
    width: 250px;

}

.controls-container {
    margin-bottom: 20px;
}

.h1-container {
    color: white;
    position: absolute;
    top: 0;
    right: 10px;
    margin: 10px;
}

.score-container {
    border-radius: 20px;
    width: 200px;
    height: 40px;
    background-color: yellow;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 20px;
    font-size: 20px;
    text-align: center;
}

td.clicked {
    background-color: yellow;
    color: black;
}


.row {
    display: flex;
    justify-content: space-between;
}


#score-text {
    font-size: 24px;
    margin: 0;
    padding: 10px;
    background-color: black;
    display: inline-block;
}




.message {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: absolute;
    top: 50px;
    color: red;
    font-size: 50px;
    padding: 10px;
}


.select-container {
    position: absolute;
    top: 100px;
    left: 20px;
}

.select-container select {
    appearance: none;
    padding: 8px 30px 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.select-container select:focus {
    outline: none;
    border-color: #4d90fe;
}

.select-container::after {
    content: '\25BE';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}
